
body{
    margin: 0;
    padding: 0;
    
}

.alignement_middle{
    width: 1000px;
    border: 1px solid #234B68;
    margin: 0 auto;
    padding: 20px;
    
}
.font_style{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}
.alignement{
    display: flex;
    flex-direction: column;
    margin: 30px;

}
.inline{
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
label{
    margin: 10px;
}
input{
    margin: 10px 0px 10px 10px;
    border-radius: 0px;
    border: 1px solid black;
}
.formulaire{
    display: flex;
    justify-content: center;
    flex-direction: column;  
}
.bouton_blue{
    background-color: #234B68;
    color: white;
    border-radius: 10px;
    margin-left: 5px;
    text-align: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    
}
.inline_blue{
    display: flex;
    align-items: center;
    justify-content: center;

}
.unité{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #234B68;
    color: white;
    width: 35px;
    height: 18.5px;
    margin-bottom: 0.5px;
    font-size: 13px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

thead tr{
    display: flex;
    margin-left: 30px;
    border: 2px solid #234B68;
}
thead td{
    margin-right: 100px;
    border-left: 2px solid #234B68;
    border-right: 2px solid #234B68;
}
h1{
    text-align: center;
    padding-bottom: 20px;
    margin-top: 10px;
    color: #234B68;
}
.formulaire_total{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    height: 360px;

}
.bouton{
    text-align: center;
}
.inline_blue2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
}
tbody tr{
    display: flex;
    margin-left: 40px;    
    border: 1px solid #234B68;;
    margin-top: 10px;
}
tbody td{
    margin-right: 120px;
    border-left: 1px solid #234B68;
    border-right: 1px solid #234B68;
}
table{
    border: 1px solid #234B68;
    width: 1000px;
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 30px;
}

tr td:last-child{
    margin-right: 0;
    border-right: 0;
}
.message_erreur{
    color: #FF822E;
    text-align: center;
    margin-bottom: 20px;

}
tr td:first-child{
    margin-left: 0;
    border-left: 0;
}
.tableau_amortissement{
    display: none;
    padding-top:30px;
}
#bouton_pdf{
    text-align: center;
    margin-top: 30px;
}
.alignement{
    display: flex;
    align-items: center;
}
.erreur{
    border:2px solid #FF822E;
}
/* .tableau_amortissement{
    padding-top: 30px;
} */